@charset "utf-8";
@import '../node_modules/bulma/bulma.sass';

body {
    @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
    @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

    @font-face {
        font-family: 'TaipeiSans';
        src: url('../src/fonts/TaipeiSansTCBeta-Regular.ttf') format('truetype');
    }

    font-family: Rubik, TaipeiSans, 'Material Icons', sans-serif;
}
